body{
   margin:0;
}
.question{
    font-size: 150%;
    background-color: rgb(50, 220, 166);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
span{
    color: red;
    font-size: 120%;
}
.solution{
    margin-left: 0px;
    text-align:center;
    background-color: black;
    color: white;
}

pre{
   margin : auto;
}
