body{
    background-image: url('/HomeBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
a.code{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    display: block;
    margin-top: 30%;
    color: blue;
}
center.links{
    display: block;
    margin-top: 15%;
    font-size: 30px;
    color: aqua;
    text-decoration: none;
    color: blue;

}
a:hover{
    background-color: aqua;
    font-size: 51px;
    color: yellowgreen;
    margin-top: 1px solid gray;
    border-radius: 15px;
    text-decoration: none;

}
a:visited{
    color: green;
}
